<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schautup"
    android:installLocation="preferExternal" >

    <!-- For a lot functions that need vibration. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- The application runs as soon as possible when device starts. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--Homepage, App-config, etc.-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens android:xlargeScreens="true" />

    <compatible-screens>

        <!-- tvdpi=213, xxhdpi=480 -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
    </compatible-screens>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTextOverlayTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/menu_settings"
            android:screenOrientation="portrait"
            android:theme="@style/NoOverlayTheme" />

        <activity
            android:name=".activities.HomePageWebViewActivity"
            android:label="@string/drawer_item_home_page"
            android:screenOrientation="portrait"
            android:theme="@style/NoOverlayTheme" />

        <activity
            android:name=".activities.LogHistoryActivity"
            android:label="@string/drawer_item_log_history"
            android:screenOrientation="portrait"
            android:theme="@style/OverlayTheme" />

        <activity
            android:name=".activities.QuickSettingsActivity"
            android:label="@string/settings_quick_title"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/ActivityDialog"/>

        <service
            android:name=".scheduler.Hungry"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".scheduler.ScheduleManager"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
